<div class="new_section fl">
				            	<dl class="c_delivery">
                    <dt>
                        <h1><em></em>已投递简历状态</h1>		
                        <a class="d_refresh" href="javascript:;">刷新</a>
                    </dt>
                    <dd>
                    	<div class="delivery_tabs">
                    		<ul class="reset">
                    			<li class="current">
                    				<a class="all_border" href="http://www.lagou.com/mycenter/delivery.html?tag=-1">全部</a>
                    			</li>
                    			<li>
                    				<a href="http://www.lagou.com/mycenter/delivery.html?tag=0">投递成功</a>
                    				                    			</li>
                    			<li>
                    				<a href="http://www.lagou.com/mycenter/delivery.html?tag=1">被查看</a>
                    				                    			</li>
                    			<li>
									<a href="http://www.lagou.com/mycenter/delivery.html?tag=2">待沟通</a>
                    				                    			</li>
                    			<li>
                    				<a href="http://www.lagou.com/mycenter/delivery.html?tag=4">通知面试</a>
                    				                    			</li>
                    			<li class="last">
                    				<a href="http://www.lagou.com/mycenter/delivery.html?tag=5">不合适</a>
                    				                    			</li>
                    		</ul>
                    	</div>

                    	
                    	                        	<div class="no_delivery">当前没有符合条件的投递记录</div>
                                            </dd>
                </dl>
            </div>