<link href="__PUBLIC__/css3/header.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css3/style_002.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css3/style.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css3/external.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css3/popup.css">

<script type="text/javascript" src="__PUBLIC__/css3/jquery.js"></script>

<script type="text/javascript" src="__PUBLIC__/css3/jquery_002.js"></script>

<script type="text/javascript" src="__PUBLIC__/css3/ajaxfileupload.js"></script>

<script type="text/javascript" src="__PUBLIC__/css3/timeCountDown.js"></script>
<script type="text/javascript" src="__PUBLIC__/css3/additional-methods.js"></script>
<div id="lg_header">

            <!--C端头部黑色导航-->
        <include file='Public/indexheader' />
       <!--end #lg_tbar-->
        
            <!--C端头部白色导航-->
                <div id="lg_tnav">
        

        <div class="inner">
            <div class="lg_tnav_l">
                <a href="__APP__" class="lg_logo" data-lg-tj-id="5h00" data-lg-tj-no="idnull" data-lg-tj-cid="idnull">
                    <h1>拉勾网</h1>
                </a> 
                            </div>
            <ul class="lg_tnav_wrap reset">
                <li>
                    <a href="{:U('Home/Index/index')}" class="current" data-lg-tj-id="5i00" data-lg-tj-no="idnull" data-lg-tj-cid="idnull">首页</a>
                </li> 
                <li>
                    <a href="{:U('Home/Company/index')}" data-lg-tj-id="5j00" data-lg-tj-no="idnull" data-lg-tj-cid="idnull">公司</a>
                </li>
                <!-- <li>
                    <a href="#" rel="nofollow">内容频道</a>
                </li> -->
            </ul>

        </div>

    </div><!--end #lg_tnav-->

        </div><!--end #lg_header-->

